*{
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
.sidenav
{
  
  height: 100%;
  width:160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1B1B1B;
  color: #9a9a9a;
  text-indent: 30px;
  line-height: 40px;
  overflow-x: hidden;

 
  
}

.sidenav a
{
  display:block;
  color:white;
  list-style:none;
  text-decoration:none;
  padding:10px;

}
  <!-- main-content  -->
.main
{
margin-left:160px;
background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0);
top:0;
left:0;
position:absolute;
color:black;
}
  <!-- brief intro of content  -->
article
{
  margin:20px;
}

  <!-- heading -->
.main h1
{
  background-color: #c20430;
  color:white;
  text-align:center;
  padding:10px;
  width:600px;
  margin-left:30%;
  margin-top:0;
  padding-left:0 ;
  postion:absolute;
  
}
  <!-- navbar hover effect -->
.sidenav a:hover
{
   background-color: #c20430;
    color:#9a9a9a;
}


