#sidebar-content-wrapper
{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
      background-color:#1B1B1B;
    color: #9a9a9a;
  
 
   
   
}

#page-content-wrapper
{
    width: 100%;
    padding-left: 30%;
    position: absolute;
    padding: 15px;
}

#entire-content-wrapper.display-menu #sidebar-content-wrapper
{
    width: 30%;
}

#entire-content-wrapper.display-menu #page-content-wrapper
{
    padding-left: 30%;
}


.sidebar-nav-list 
{
    list-style-type: none;
    padding: 0;
   
    
}

.sidebar-nav-list li
{
    text-indent: 30px;
    line-height: 40px;
}

.sidebar-nav-list li a
{ 
    
    color:white;
    display: block;
    text-decoration: none;
    
}

.sidebar-nav-list li a:hover
{ 
  

    background-color: #c20430;
    color:#9a9a9a;
}
